<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<title>Registro de Horarios</title>
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/menu.css}" />

	<!--Toast-->
	<link rel="stylesheet" th:href="@{/css/toast.min.css}" />
	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js&quot; referrerpolicy="origin""></script>
	
	<!--TinyMCE-->
	<!--Opcion CDN-->
	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

	<!--Opcion descarga-->
	<script th:src="@{/js/tinymce.min.js}"></script>

	<script>
		tinymce.init({
			selector: '#detalles',
			plugins: "textcolor, table lists code",
			toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | forecolor backcolor table code"
		});
	</script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/horarios/listar}">Lista de Horarios</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

	<div class="container" style="margin-bottom: 20px;">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<h1 style="margin-top: 20px;">Editar Horario</h1>
					
					<form style="margin-top: 40px;" id="formRegistro" th:action="@{/horarios/guardar}" method="POST" th:object="${horario}">
						
						<input type="hidden" th:field="*{idhorarios}" />
						<div class="form-group">
							<label for="InputNombre">Dia</label>
							<input type="date" class="form-control"  id="fechaDia" th:attr="min=${now}" name="fechaDia" th:value="${fechaDiaUpdate}"   >
							
						</div>

                        <div class="form-group" style="margin-top: 10px;">
							<label>Horas de Atención</label>
							<select class="form-control" id="selectHoras"  name="hora">
							   <option value="08:15 a.m - 12:30 p.m" >8:15 a.m - 12:30 p.m</option>
							   <option value="2:30 p.m - 06:30 p.m"  >2:30 p.m - 06:30 p.m</option>
							</select>
							
						</div>

                        <div class="form-group">
							<label for="InputNombre"> No.Repeticiones</label>
							<input  type="number" class="form-control" id="repeticiones" th:field="*{repeticiones}" placeholder="0" style="width: 100px;" disabled>
							
						</div>
						


						<div class="form-group" style="margin-top: 10px;">
							<label>Usuario a Atender</label>
							<select class="form-control" id="selectUsuarios" th:field="*{usuario.idusuarios}">
							   <option  th:each="usuarios: ${listaUsuarios} " th:value="${usuarios.idusuarios}" th:text="${usuarios.nombre}" ></option>
							</select>
							
						</div>

                        <div class="form-group" style="margin-top: 10px;">
							<label>Numero de Ventanilla</label>
							<select class="form-control" id="selectVentanilla" th:field="*{ventanilla.idventanilla}">
							   <option  th:each="ventanillas: ${listaVentanilla} " th:value="${ventanillas.idventanilla}" th:text="${ventanillas.numero}" ></option>
							</select>
							
						</div>

						

						<button style="margin-top: 20px;" type="button" onclick="validaciones()"  class="btn btn-primary">Agregar</button>
					</form>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>



	
<!--Ionicons-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!--Toast-->
<script th:src="@{/js/toast.min.js}"></script>
<script th:src="@{/js/validaciones.js}"></script>

<script th:if="${msg_success != null}">
	new Toast({
		message: '[[${msg_success}]]',
		type: 'success'
	});
</script>
<script th:if="${msg_error != null}">
	new Toast({
		message: '[[${msg_error}]]',
		type: 'danger'
	});
</script>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>




</body>

</html>